.block-questions
  h2 Any questions?
  .block-questions-fill
    form(action='#')
      input(type='text' placeholder='Your name')
      input(type='tel' placeholder='Your telephone number')
      textarea(name='' id='' cols='20' rows='5' placeholder='Your question')
      button Send
    p
      | Write to us and we will be sure to answer all your questions and give you a comprehensive consultation.
