.conteiner-2
  h2 Advantages working with us
  .block-video
    .photo
      img(src='./img/video.jpg')
    .block-video-text
      p In-house carpextry production
      p We only treat wood with environmentally friendly and safe products
      p Prices from the manufacturer, no extra charges
  .block-video-button
    button Receive a consultation