footer.footer
  .logo
    img(src='./img/logo.svg' alt='')
  .contacts-tel 
    a(href='tel:+420 000 000 000') +420 000 000 000
    a(href='https://www.google.com/maps/search/Na+Plze%C5%88ce+1166%2F0+150+00/@50.0648235,14.4076864,17z') Na Plze&ncaron;ce 1166/0 150 00
