header.header__conteiner
  a(href='./index.html') 
    img(src='./img/logo.svg' alt='logo')     
  .menu
    nav.menu__link
      ul
        li
          a(href='./gallery.html') Gallery
        li
          a(href='./price.html') Prices for services
        li
          a(href='./about.html') About us
        li
          a(href='./contact.html') Contact
    
    .menu_burger
      img(src='./img/menu-burger.svg' alt='')