section.conteiner-2
  h2 Our work
  .slideshow-container
    .mySlides.fade
      img(src='./img/OurWork-1.png')
    .mySlides.fade
      img(src='./img/OurWork-2.png')
    .mySlides.fade
      img(src='./img/OurWork-3.jpg')
    a.prev(onclick='plusSlides(-1)') &#x276E;
    a.next(onclick='plusSlides(1)') &#x276F;
  .block-dot
    span.dot(onclick='currentSlide(1)')
    span.dot(onclick='currentSlide(2)')
    span.dot(onclick='currentSlide(3)')