section.conteiner-2
    .prices
    h2 PRICE LIST
    .slideshow-container
        .mySlides.fade
            img(src='./img/price.png' alt='price')
        a.prev(onclick='plusSlides(-1)') &#x276E;
        a.next(onclick='plusSlides(1)') &#x276F;
    .block-dot
        span.dot(onclick='currentSlide(1)')
        span.dot(onclick='currentSlide(2)')
        span.dot(onclick='currentSlide(3)')