section.conteiner-2
  h2 THE WOOD WE WORK WITH
  .products__wood
    .wood
      .photo
        img(src='./img/wood-oak.png' alt='')
      h3 Oak
      ul
        li Durability
        li Beautiful texture
        li Water resistance
        li Expensive
    .wood
      .photo
        img(src='./img/wood-buk.png' alt='')
      h3 Buk
      ul
        li Durability
        li Hard to handle
    .wood
      .photo
        img(src='./img/wood-ash.png' alt='')
      h3 Ash
      ul
        li Durability
        li Hard to handle
