section
  .underpicture
    img(src='./img/imag.jpg' alt='')
  .products
    .products__buy
      h2 Solid wood products
      h3 Oak, beech, ash from 1700 CZK per m3
      button Order
    span
    .products__photo
      .photo
        img(src='./img/img-block1-1.png' alt='')
      .photo
        img(src='./img/img-block1-2.png' alt='')
      .photo
        img(src='./img/img-block1-3.png' alt='')
      
